@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
    --text-color: rgb(0, 0, 0);
    --background-color: #eee;
    --background-btn: rgb(241, 196, 15);
    --border-color: rgb(0, 0, 0);
    --pricing__title: #ddd;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
	text-decoration: none;
	list-style: none;
}